extends ../layouts/adminMenu
block content
    
    #accordion.mt-4
        .card
            #headingOne.card-header
                h5.mb-0
                    button.btn.btn-link(data-toggle='collapse' data-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
                        | Admin Account
            #collapseOne.collapse.show(aria-labelledby='headingOne' data-parent='#accordion')
                .card-body
                    table.table.mt-4 
                            tr 
                                th Name
                                th Actions 
                            each account in accountAdmin
                                tr
                                    td= account.name
                                    td 
                                        a.btn.btn-success(href='/admin/updateAccountAdmin/'+ account.username) Update 
                                        a.btn.btn-danger.ml-4(href='/admin/deleteAccount/'+ account.username) Delete
                                           
        .card
            #headingTwo.card-header
                h5.mb-0
                    button.btn.btn-link.collapsed(data-toggle='collapse' data-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
                        | Staff Account
            #collapseTwo.collapse(aria-labelledby='headingTwo' data-parent='#accordion')
                .card-body
                    table.table.mt-4 
                            tr 
                                th Name
                                th Actions 
                            each account in accountStaff
                                tr
                                    td= account.name
                                    td
                                        a.btn.btn-success(href='/admin/updateAccountStaff/'+ account.username) Update 
                                        a.btn.btn-danger.ml-4(href='/admin/deleteAccount/'+ account.username) Delete                  
        .card
            #headingThree.card-header
                h5.mb-0
                    button.btn.btn-link.collapsed(data-toggle='collapse' data-target='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
                        | Trainer Account
            #collapseThree.collapse(aria-labelledby='headingThree' data-parent='#accordion')
                .card-body
                    table.table.mt-4 
                            tr 
                                th Name
                                th Actions 
                            each account in accountTrainer
                                tr
                                    td= account.name
                                    td
                                        a.btn.btn-success(href='/admin/updateAccountTrainer/'+ account.username) Update 
                                        a.btn.btn-danger.ml-4(href='/admin/deleteAccount/'+ account.username) Delete

        .card
            #headingFour.card-header
                h5.mb-0
                    button.btn.btn-link.collapsed(data-toggle='collapse' data-target='#collapseFour' aria-expanded='false' aria-controls='collapseFour')
                        | Trainee Account
            #collapseFour.collapse(aria-labelledby='headingFour' data-parent='#accordion')
                .card-body
                    table.table.mt-4 
                            tr 
                                th Name
                                th Actions 
                            each account in accountTrainee
                                tr
                                    td= account.name
                                    td
                                        a.btn.btn-success(href='/admin/updateAccountTrainee/'+ account.username) Update 
                                        a.btn.btn-danger.ml-4(href='/admin/deleteAccount/'+ account.username) Delete

    
    //- a.btn.btn-primary.mt-4(href = '/admin/createAccount') Create new account 

    button.btn.btn-primary(type='button' data-toggle='modal' data-target='#exampleModal') Create new Account
    // Modal
    #exampleModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalLabel.modal-title Chon doi tuong ban muon tao tai khoan
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                    | Chon doi tuong muon tao tai khoan nhe!
                .modal-footer
                    a.btn.btn-secondary.mt-4(data-dismiss='modal') Close
                    a.btn.btn-primary.mt-4(href = '/admin/createAccountAdmin') Admin
                    a.btn.btn-primary.mt-4(href = '/admin/createAccountStaff') Staff
                    a.btn.btn-primary.mt-4(href = '/admin/createAccountTrainer') Trainer
                    a.btn.btn-primary.mt-4(href = '/admin/createAccountTrainee') Trainee

