extends ../layouts/adminMenu
block content

    h1 List Course
    table.table 
        tr 
            th Course Name
            th Actions 
        each course in courses
            tr
                td
                    a(href='/admin/viewCourseDetail/' + course.courseName)= course.courseName
                td
                    a.btn.btn-success(href='/admin/updateCourse/'+ course.id) Update 
                    a.btn.btn-danger.ml-4(href='/admin/deleteCourse/'+ course.id) Delete 


    a.btn.btn-primary(href = '/admin/createCourse/' + category) Create new Course