extends ../layouts/traineeMenu
block content

    h1 List Topic
    table.table 
        tr 
            th Topic name
            th Topic detail
        each topic in topics
            tr
                td= topic.topicName
                td= topic.topicDetail
                
